@model Huihuinga.Models.EventViewModel


@{
    ViewData["Title"] = "Home Page";
}

<!--============================
    =            Banner            =
    =============================-->
<section class="banner bg-banner-one overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Content Block -->
                <div class="block">
                    <h1>Huihuinga</h1>
                    <h6>El mejor sitio para organizar tus conferencias</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Buscar eventos por nombre:
                        <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    </p>
                    <p>
                        Buscar eventos por tema:
                        <select asp-for="EventTopic" asp-items="Model.TopicsList">
                            <option value="">All</option>
                        </select>
                    </p>
                    <p>
                        Buscar eventos por tipo:
                        <select asp-for="EventType">
                            <option value="">All</option>
                            <option value="Party">Fiesta</option>
                            <option value="Talk">Charla</option>
                            <option value="PracticalSession">Sesión Práctica</option>
                            <option value="Chat">Chat</option>
                            <option value="Meal">Comida</option>
                        </select>
                    </p>
                    <p>
                        <input type="submit" value="Buscar" class="btn btn-default" />
                        <a asp-action="Index">Mostrar todos los eventos</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


<section class="news section">
    <div class="container">
        <div class="row mt-30">
            @foreach (var event_ in Model.Events)
            {
                var ruta = "~/images/" + event_.PhotoPath;
                if (event_.PhotoPath == null)
                {
                    ruta = "~/conferencecss/images/centro-evento.jpg";
                }
                <div class="col-lg-4 col-md-4 col-sm-4 col-4 m-auto">
                    <div class="blog-post">
                        <div class="post-thumb">
                            <a asp-controller=@event_.GetType().Name asp-action="Details" asp-route-id=@event_.id>
                                <img src=@ruta alt="post-image" class="img-fluid" asp-append-version="true">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h2>@event_.name</h2>
                            </div>
                            <p>@Model.TypeTranslation[event_.GetType().Name]</p>
                            @switch (event_.GetType().Name)
                            {
                                case "Chat":
                                    Chat chat;
                                    chat = (Chat)event_;
                                    if (chat.Topics != null && chat.Topics.Any())
                                    {
                                        foreach (var topic in chat.Topics)
                                        {
                                            <span> [ @topic.name ] </span>
                                        }
                                    }
                                    break;

                                case "PracticalSession":
                                    PracticalSession session;
                                    session = (PracticalSession)event_;
                                    if (session.Topics != null && session.Topics.Any())
                                    {
                                        foreach (var topic in session.Topics)
                                        {
                                            <span> [ @topic.name ] </span>
                                        }
                                    }
                                    break;

                                case "Talk":
                                    Talk talk;
                                    talk = (Talk)event_;
                                    if (talk.Topics != null && talk.Topics.Any())
                                    {
                                        foreach (var topic in talk.Topics)
                                        {
                                            <span> [ @topic.name ] </span>
                                        }
                                    }
                                    break;
                            }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Events == null || !Model.Events.Any())
        {
            <div class="row">
                <div class="col-12 text-center">
                    <p>No se han encontrado eventos :(</p>
                </div>
            </div>
        }
    </div>

</section>
