@model Huihuinga.Models.AllEventsViewModel


@{
    ViewData["Title"] = "Home Page";
}

<!--============================
    =            Banner            =
    =============================-->
<section class="banner bg-banner-one overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Content Block -->
                <div class="block">
                    <h1>Huihuinga</h1>
                    <h6>El mejor sitio para organizar tus conferencias</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Buscar eventos por nombre:
                        <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    </p>
                    <p>
                        Buscar eventos por tema:
                        <select asp-for="EventTopic" asp-items="Model.TopicsList">
                            <option value="">All</option>
                        </select>
                    </p>
                    <p>
                        <input type="submit" value="Buscar" class="btn btn-default" />
                        <a asp-action="Index">Mostrar todos los eventos</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                   
                </div>
            </form>
        </div>
    </div>
</div>

<br />

@if (Model.Show_chats)
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Chats</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="news section">
        <div class="container">
            <div class="row mt-30">
                @foreach (var chat in Model.Chats)
                {

                    var ruta = "~/images/" + chat.PhotoPath;
                    if (chat.PhotoPath == null)
                        {
                            ruta = "~/conferencecss/images/centro-evento.jpg";
                        } 
                    <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                        <div class="blog-post">
                            <div class="post-thumb">
                                <a asp-controller="Chat" asp-action="Details" asp-route-id="@chat.id">
                                    <img src=@ruta alt="post-image" class="img-fluid" asp-append-version="true">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h2>@chat.name</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
}

@if (Model.Show_meals)
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Comidas</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="news section">
        <div class="container">
            <div class="row mt-30">
                @foreach (var meals in Model.Meals)
                {
                    var ruta = "~/images/" + meals.PhotoPath;
                    if (meals.PhotoPath == null)
                    {
                        ruta = "~/conferencecss/images/centro-evento.jpg";
                    }
                    <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                        <div class="blog-post">
                            <div class="post-thumb">
                                <a asp-controller="Meal" asp-action="Details" asp-route-id="@meals.id">
                                    <img src=@ruta alt="post-image" class="img-fluid" asp-append-version="true">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h2>@meals.name</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}

@if (Model.Show_parties)
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Fiestas</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="news section">
        <div class="container">
            <div class="row mt-30">
                @foreach (var party in Model.Parties)
                {
                    var ruta = "~/images/" + party.PhotoPath;
                    if (party.PhotoPath == null)
                    {
                        ruta = "~/conferencecss/images/centro-evento.jpg";
                    }
                    <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                        <div class="blog-post">
                            <div class="post-thumb">
                                <a asp-controller="Party" asp-action="Details" asp-route-id="@party.id">
                                    <img src=@ruta alt="post-image" class="img-fluid" asp-append-version="true">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h2>@party.name</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
}

@if (Model.Show_practical)
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Sesiones Prácticas</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="news section">
        <div class="container">
            <div class="row mt-30">
                @foreach (var session in Model.PracticalSessions)
                {
                    var ruta = "~/images/" + session.PhotoPath;
                    if (session.PhotoPath == null)
                    {
                        ruta = "~/conferencecss/images/centro-evento.jpg";
                    }
                    <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                        <div class="blog-post">
                            <div class="post-thumb">
                                <a asp-controller="PracticalSession" asp-action="Details" asp-route-id="@session.id">
                                    <img src=@ruta alt="post-image" class="img-fluid" asp-append-version="true">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h2>@session.name</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
}

@if (Model.Show_talks)
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Charlas</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="news section">
        <div class="container">
            <div class="row mt-30">
                @foreach (var talk in Model.Talks)
                {
                    var ruta = "~/images/" + talk.PhotoPath;
                    if (talk.PhotoPath == null)
                    {
                        ruta = "~/conferencecss/images/centro-evento.jpg";
                    }
                    <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                        <div class="blog-post">
                            <div class="post-thumb">
                                <a asp-controller="Talk" asp-action="Details" asp-route-id="@talk.id">
                                    <img src=@ruta alt="post-image" class="img-fluid" asp-append-version="true">
                                    <div class="post-content">
                                        <div class="post-title">
                                            <h2>@talk.name</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
}

@if (!Model.Show_chats && !Model.Show_meals && !Model.Show_parties && !Model.Show_practical && !Model.Show_talks)
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>No se han encontrado eventos :(</p>
            </div>
        </div>
    </div>
}