
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Huihuinga.Models.Hall

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{var ruta = "~/images/" + Model.PhotoPath;
    if (Model.PhotoPath == null)
    {
        ruta = "~/conferencecss/images/gallery/gallery-six.jpg";
    }
}
<section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>Detalles Sala de Eventos</h3>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section single-speaker">
    <div class="container">
        <div class="block">
            <div class="col-12 text-center">
                <nav class="navbar navbar-expand-md bg-light navbar-light justify-content-center" style="background-color: white !important;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="subscribe-button">
                                <a class="nav-link" asp-controller="Hall" asp-action="Index" asp-route-id=@Model.EventCenterid>Volver a salas</a>
                            </div>
                        </li>
                        @if ((bool)ViewData["owner"])
                        {
                         <li class="nav-item">
                             <div class="subscribe-button">
                                <a class="nav-link" asp-controller="Hall" asp-route-id=@Model.id asp-action="Edit">Editar información</a>
                             </div>
                         </li>
                         <li class="nav-item">
                             <div class="subscribe-button">
                                <a class="nav-link" asp-controller="Hall" asp-route-id=@Model.id asp-route-centerid=@Model.EventCenterid asp-action="Delete">Eliminar Sala</a>
                             </div>
                         </li>
                        }
                    </ul>
                </nav>

            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6 align-self-md-center">
                    <div class="image-block">
                        <img src=@ruta class="img-fluid" alt="speaker" asp-append-version="true">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 align-self-center">
                    <div class="content-block">
                        <div class="name">
                            <h3> @Html.DisplayFor(model => model.name)</h3>
                        </div>
                        <div class="profession">
                            <p>Capacidad: @Html.DisplayFor(model => model.capacity)</p>
                        </div>
                        <div class="details">
                            <p>Ubicación: @Html.DisplayFor(model => model.location)</p>
                            <p>Proyector: @Html.DisplayFor(model => model.projector)</p>
                            <p>Enchufes: @Html.DisplayFor(model => model.plugs)</p>
                            <p>Computadores: @Html.DisplayFor(model => model.computers)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
